.project-div {
  border: #573280 1px solid;
  border-radius: 15px;
  height: 120px;
  display: flex;
  margin-top: 10px;
  background-position: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

.project-div:hover {
  border: #573280 2px solid;
}

button {
  all: unset;
  background-color: #573280;
  border-radius: 5px;
  padding: 6px;
  margin: 4px;
  color: #eff8e2;
  position: absolute;
  right: 15px;
  width: 45px;
  text-align: center;
  box-shadow: 0px 0px 5px black;
  font-family: 'Roboto Condensed', sans-serif;
}

.code-button {
  right: 80px;
}

button:hover {
  transition: 0.3s;
  border-color: white;
  border: 1px solid;
  background-color: #23022e;
}

.project-label {
  position: relative;
  top: -20px;
  margin-left: 10px;
  text-shadow: 0px 0px 10px black;
  font-family: 'Roboto Condensed', sans-serif;
}

.heading {
  color: #573280;
}

@media screen and (max-width: 600px) {
  .project-label {
    font-size: 24px;
    top: -14px;
  }
  button {
    padding: 4px;
  }
}

@media screen and (min-width: 1480px) {
  .project-div {
    width: 800px;
    position: relative;
    margin: auto;
    margin-bottom: 15px;
  }
}
