.text {
  color: #573280;
  font-family: 'Roboto Condensed', sans-serif;
}

.text-container {
  margin-top: 15px;
  border-radius: 15px;
  height: 35vh;
  color: #573280;
  border: 1px solid;
  box-shadow: 0px 0px 2px black;
  padding: 65px;
}

.details {
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 15px;
  position: relative;
  top: 35px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
}

.heading {
  text-decoration: underline;
}
