.nav-container {
  background-color: #573280;
  border-radius: 15px;
  height: 60px;
  margin-top: 19px;
}

h1 {
  color: #eff8e2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif, 'Arial Narrow', Arial, Courier, monospace;
  position: relative;
  text-align: center;
  top: 0px;
}

img {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 15px;
  top: 36px;
}

.linkedin-icon {
  right: 45px;
  top: 31px;
  height: 36px;
  width: 36px;
}

.github-icon:hover {
  transition: 0.25s;
  height: 28px;
  width: 28px;
}

.linkedin-icon:hover {
  transition: 0.25s;
  height: 39px;
  width: 39px;
}

/* hamburger menu */

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 47px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eff8e2;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #573280;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 1;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #eff8e2;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #23022e;
}
